* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#page-wrapper {
  position: relative;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: turquoise;
  cursor: pointer;
}
.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo > i {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
h1 {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
nav {
  font-weight: 400;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}
#women {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#women > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}
#women input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
#women input[type="submit"] {
  max-width: 350px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}
#women input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}
#men {
  margin-top: 30px;
}
#men .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #men .icon {
    display: none;
  }
}
#men .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #men .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #men {
    margin-top: 0;
  }
}
#new {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#new > iframe {
  max-width: 560px;
  width: 100%;
}
