* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#page-wrapper {
  position: relative;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
